In [108]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## 2.1. Напишите функцию, которая разбирает и отбрасывает одну страницу и возвращает список словарей с названием и ценой каждой книги.

In [109]:
def first_page(url):
    arr = []
    finalurl = url.format(url)
    res = requests.get(finalurl).text
    soup = BeautifulSoup(res,'html.parser')
    for t, c in zip(soup.select('.image_container >a>img'), soup.select('p.price_color')):
        y = {'Title': t['alt'], 'Cost': c.text[1:]}
        arr.append(y)
    return arr


print(first_page('http://books.toscrape.com/catalogue/page-1.html'))

[{'Title': 'A Light in the Attic', 'Cost': '£51.77'}, {'Title': 'Tipping the Velvet', 'Cost': '£53.74'}, {'Title': 'Soumission', 'Cost': '£50.10'}, {'Title': 'Sharp Objects', 'Cost': '£47.82'}, {'Title': 'Sapiens: A Brief History of Humankind', 'Cost': '£54.23'}, {'Title': 'The Requiem Red', 'Cost': '£22.65'}, {'Title': 'The Dirty Little Secrets of Getting Your Dream Job', 'Cost': '£33.34'}, {'Title': 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 'Cost': '£17.93'}, {'Title': 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'Cost': '£22.60'}, {'Title': 'The Black Maria', 'Cost': '£52.15'}, {'Title': 'Starving Hearts (Triangular Trade Trilogy, #1)', 'Cost': '£13.99'}, {'Title': "Shakespeare's Sonnets", 'Cost': '£20.66'}, {'Title': 'Set Me Free', 'Cost': '£17.46'}, {'Title': "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 'Cost': '£52.29'}, {'Title': 'Rip it Up and Start Again', 'Cost': '£35.02'}, {'Title': 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 'Cost': '£57.25'}, {'Title': 'Olio', 'Cost': '£23.88'}, {'Title': 'Mesaerion: The Best Science Fiction Stories 1800-1849', 'Cost': '£37.59'}, {'Title': 'Libertarianism for Beginners', 'Cost': '£51.33'}, {'Title': "It's Only the Himalayas", 'Cost': '£45.17'}]

## 2.2. Скачать первые 100 книг с прогресс-баром из tqdm.

In [129]:
import time
from tqdm import tqdm

arr = []
count = 0
i = 0
n = 100
while True:
    if count == n:
            break
    i += 1
    url = f'http://books.toscrape.com/catalogue/page-{i}.html'
    finalurl = url.format(url)
    res = requests.get(finalurl).text
    soup = BeautifulSoup(res,'html.parser')
    for t, c in zip(soup.select('.image_container >a>img'), soup.select('p.price_color')):
        y = {'Title': t['alt'], 'Cost': c.text[1:]}
        count += 1
        arr.append(y)

for i in tqdm(arr):
    time.sleep(0.1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:11<00:00,  9.09it/s]

## 2.3 Сохраните в DataFrame.

In [121]:
title = [i['Title'] for i in arr]
cost = [i['Cost'] for i in arr]

In [122]:
df = pd.DataFrame({"Title": title, "Cost": cost})
df

                                                Title    Cost
0                                A Light in the Attic  £51.77
1                                  Tipping the Velvet  £53.74
2                                          Soumission  £50.10
3                                       Sharp Objects  £47.82
4               Sapiens: A Brief History of Humankind  £54.23
..                                                ...     ...
95  Lumberjanes Vol. 3: A Terrible Plan (Lumberjan...  £19.92
96  Layered: Baking, Building, and Styling Spectac...  £40.11
97  Judo: Seven Steps to Black Belt (an Introducto...  £53.90
98                                               Join  £35.67
99          In the Country We Love: My Family Divided  £22.00

[100 rows x 2 columns]

## 2.4. Рассчитать среднюю цену этих книг.

In [123]:
df['Cost'] = df['Cost'].str[1:]

In [127]:
df['Cost'] = df['Cost'].astype(float)
pd.to_numeric(df['Cost'])

0     51.77
1     53.74
2     50.10
3     47.82
4     54.23
      ...
95    19.92
96    40.11
97    53.90
98    35.67
99    22.00
Name: Cost, Length: 100, dtype: float64

In [128]:
df['Cost'].mean()

34.560700000000004

#### Ответ: средняя цена этих книг = 34.56